<div class="list">
  <div
    class="list__touch"
    (touchstart)="touchStart($event)"
    (touchmove)="touchMove($event)"
  >
    <i-lucide
      [img]="minus"
      [size]="65"
      class="list__touch-icon"
      (touchstart)="touchStart($event)"
      (touchmove)="touchMove($event)"
    ></i-lucide>
  </div>
  <div class="list__date">
    <span>
      <h2 *ngIf="date.day === currentDay - 1">Ontem -</h2>
      <h2 *ngIf="date.day === currentDay + 1">Amanhã -</h2>
      <h2 *ngIf="date.day === currentDay">Hoje -</h2>
      <h2>Dia {{ date.day }}, {{ weekDays[weekDay] }}</h2>
    </span>
  </div>
  <div class="list__activities">
    <app-activities></app-activities>
  </div>
</div>
