@import "../../../style/_utilities";
@import "../../../style/_variables";

.list {
  width: 100%;
  height: 100%;
  background-color: $black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  &__touch {
    width: 100%;
    height: 40px;
    @include flex-center();

    &-icon {
      color: white;
    }
  }
}
