<div class="calendar">
  <div class="calendar__header">
    <div class="calendar__header__date">
      <p class="calendar__header__date-year">{{ currentYear }}</p>
      <p class="calendar__header__date-month">{{ currentMonth }}</p>
    </div>
    <button>Nova atividade</button>
  </div>

  <div class="calendar__days">
    <p
      *ngFor="let day of weekDays; let i = index"
      [ngClass]="{ 'current-date': currentWeekDay === i }"
      class="calendar__days-week"
    >
      {{ day }}
    </p>

    <p
      *ngFor="let day of calendarDays; let i = index"
      [ngClass]="{ 'current-date': currentDay === i }"
      [class.other-month]="
        i < daysFromPreviousMonth.length ||
        i >= daysFromPreviousMonth.length + daysInMonth.length
      "
    >
      {{ day }}
    </p>
  </div>
</div>
