<main class="agenda">
  <div class="agenda__icons">
    <img src="/assets/logo.png" />

    <div>
      <i-lucide [img]="user" [size]="20" class="agenda__icons-user"></i-lucide>
    </div>
  </div>
  <app-calendar (selectedDate)="selectedDate($event)"></app-calendar>
  <div class="agenda__list" [ngStyle]="{ height: height + '%' }">
    <app-activities-list
      (changeHeight)="height = $event"
      (markDone)="doneActivity($event)"
      [date]="date"
      [activities]="activities"
    ></app-activities-list>
  </div>
</main>
