<div class="activities">
  <label class="custom-checkbox">
    <input type="checkbox" id="checkbox1" formControlName="alert" />
    <span class="checkmark"></span>
  </label>
  <div class="activities__details" routerLink="/edit-activity/{{ id }}">
    <h3>{{ title | trucate }}</h3>
    <div class="activities__details__priority">
      <p>{{ time | time }}</p>
      <i-lucide
        class="activities__details__priority-icon"
        [size]="18"
        *ngFor="let star of stars.slice(0, priority)"
        [img]="star"
      ></i-lucide>
    </div>
  </div>
</div>
